.mobile {
  .cell {
    height: 550px;
    padding-bottom: 60px;
    &:hover {
      display: block;
      position: relative;
      background: none;
      padding-bottom: 30px;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  .descr-door {
    &>a {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .price {
      left: 10%;
      font-size: 175%;
      bottom: 15px;
      @media (orientation: landscape) {
        font-size: 120%;
        bottom: 20px;
      }
    }
    div > span
    {
      display: -webkit-box!important;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

@media (max-width: 1400px)
{
  #block-11 {
    .carousel-inner {
      width: 80%;
      margin: 0 110px!important;
    }
    .client-comment
    {
      width: 45%!important;
      .client-text
      {
        width: 90%!important;
      }
    }
    .carousel-control.left
    {
      left: 0!important;
    }

    .carousel-control.right
    {
      right: 0!important;
    }
  }
}

@media (max-width: 1240px)
{
  #block-1 {
    .four-undrln {
      right: -5px;
      width: 95%;
      .hdr-price
      {
        margin-left: 26.4%;
      }
    }
  }
}

@media (max-width: 1040px) {
  .protect-div-right {
    max-width: 63%;
  }
  #block-5 .feedback-form {
    max-width: 29%;
    left: 660px;
  }

  #block-2 div.callback {
    margin-left: 5px;
  }

  #callWindow input
  {
    padding: 5px 0 5px;
  }

  .menu-product div
  {
    margin-right: 15px;
  }

  .px-35px
  {
    padding-right: 25px!important;
    padding-left: 25px!important;
  }

  #block-3 .prices
  {
    width: 165px;
  }

  #block-1 {
    min-height: 813px;
    .right {
      height: 647px;
      .four-undrln {
        .undrln span {
          line-height: 175%;
        }
        .hdr-price {
          margin-top: 22.5%;
          margin-left: 26.4%;
        }
      }
    }
  }

  #block-5 .feedback-form div > span
  {
    white-space: normal;
    font-size: 150%;
  }

  #block-6 {
    height: 888px;
    h5 {
      margin-top: 15px;
    }
  }
  #block-10 .orders > div
  {
    width: 22%;
  }
  #block-11
  {
    height: 800px;
  }

  #block-12
  {
    .block-12-text h2
    {
      line-height: 160%;
    }
  }
  .slider.slider-horizontal
  {
    width: 100%;
  }
  form#filters {
    @for $i from 1 through 12 {
      .col-lg-#{$i}, .col-sm-#{$i}, col-md-#{$i}, col-xs-#{$i} {
        min-height: 127px;
        padding: 30px;
      }
    }
  }

  .fbk-phone
  {
    line-height: 250%;
  }
  .fbk-text
  {
    line-height: 100%;
  }
  #block-5 .men-quest
  {
    left: 0;
  }
}

@media (max-width: 1024px)
{
  .hdr-text
  {
    top: 57px;
    margin-left: 6%;
    z-index: 1;
  }
}

@media (max-width: 960px)
{
  html, body
  {
    font-size: 14px;
  }

  #block-5 .feedback-form
  {
    max-width: 25%;
  }

  .protect-div-right
  {
    max-width: 55%;
  }

  .four-undrln
  {
    top: 50px;

  }

  #block-1 .four-undrln .hdr-price
  {
    width: 190px;
    height: 190px;
    margin-top: 13px;
    margin-left: 23.5px;
    span:nth-child(1)
    {
      margin-top: 30px;
      margin-left: 75px;
    }
    span:nth-child(2)
    {
      margin-left: 23px;
    }
    span:nth-child(3)
    {
      margin-left: 73px;
    }
  }

  #block-3 .prices
  {
    width: 150px;
  }
  #block-3 .act-info span
  {
    padding: 20px 20px;
  }
}

@media (max-width: 885px)
{
  #block-5 .feedback-form
  {
    left: 640px;
  }
  .protect-div-right
  {
    max-width: 45%;
  }
  .small-act-imgs
  {
    margin-left: 140px;
  }
}

@media (max-width: 854px)
{
  .cell .small-door
  {
    margin-left: auto;
    margin-right: auto;
    position: static;
    float: none;
    width: auto;
    max-width: 90%;
    a {
      display: block;
      img {
        display: block;
        height: 305px!important;
        min-height: auto!important;
        width: auto;
        max-width: 100% !important;
        margin: auto;
      }
    }
  }
  .cell > .img-wrapper
  {
    width: 100%;
  }
  #block-1 {
    min-height: 756px;
    background-position-x: 39%;
  }
  #block-1 .right
  {
    height: 594px;
    width: auto;
  }
  .top-head .cntr
  {
    margin-left: 1%;
    float: right;
  }
  .top-head .cntr, .top-head > div:nth-child(2)
  {
    margin-top: 3%;
  }
  .top-head .callback
  {
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }
  .top-head > div:nth-child(5)
  {
    padding-top: 3px;
  }
  #block-6 h5
  {
    margin-top: 5px;
    font-size: 275%;
    line-height: 125%;
  }
  .four-undrln
  {
    right: 0;
  }
  #block-3 .act-info
  {
    margin: auto;
    float: none;
    width: 220px;
    height: 38px;
    font-size: 175%;
    display: block;
    text-align: center;
    margin-top: 4px;
    @media (orientation: landscape) {
      font-size: 100%;
      height: auto;
    }
  }
  form#filters .container-fluid
  {
    width: 98%;
  }

  div[id^="product-"]
  {
    #block-3
    {
      height: 985px;
    }
    #block-3a .container.part-size > div
    {
      margin-right: 10px;
    }
    #block-3a .container.part-size > div:last-child
    {
      margin-right: 0;
    }
    #how_buy {
      padding: 20px 0 30px;
      h5 {
        margin: 20px 0;
      }
    }
    .small-act-imgs
    {
      margin-left: -40%;
      left: 50%;
      text-align: center;
      img
      {
        float: none;
      }
    }
    #block-3 .act-div-right
    {
      left: 0!important;
    }
    span.next-button.good
    {
      right: 3%;
      top: 20%;
    }
    span.prev-button.good
    {
      top: 20%;
    }
  }

  div.cell-pseudo-table .col-lg-3 .cell, div.cell-pseudo-table .col-sm-4 .cell, div.cell-pseudo-table .col-xs-12 .cell
  {
    font-size: 200%;
    height: auto;
    padding-bottom: 100px;
  }

  div.cell-pseudo-table
  {
    margin-bottom: 95px;
  }
  .other-models-greeting
  {
    width: 150px;
  }
  form#filters .col-lg-6, form#filters .col-sm-6, form#filters col-md-6, form#filters col-xs-6
  {
    min-height: auto;
    padding: 20px;
  }
  form#filters .col-lg-6>label, form#filters .col-sm-6>label, form#filters col-md-6>label, form#filters col-xs-6>label
  {
    font-size: 200%;
  }
  #block-3 .act-info span
  {
    padding: 0;
    line-height: 230%;
  }
  #block-2 img
  {
    margin-top: 15px;
  }
  #block-2 div.callback
  {
    height: auto;
    padding: 3px 25px;
    margin-top: 10px;
    width: auto;
    font-size: 115%;
  }
  #menu-glavnoe-menyu, #block-2 ul.nav
  {
    display: inline-block;
    margin-top: 5px;
  }
  #block-2 .nav > li
  {
    margin-left: 3px;
    font-size: 105%;
    a
    {
      padding: 0px 10px;
    }
  }
  #block-2 .container
  {
    text-align: center;
  }
  #block-2 .container div>a[href^="tel:"]
  {
    font-size: 140%;
  }
  #block-3{
    height: 1008.2px;
  }
  #block-3 .act-div, #block-3a
  {
    width: 100%;
  }
  #block-3 .act-div-left, #block-3 .act-div-right
  {
    width: 100%;
    left: 0;
  }
  #block-3 .prices>span
  {
    font-size: 250%;
    margin-top: 4px;
    @media (orientation: landscape) {
      font-size: 100%;
    }
  }
  #block-3 .act-div-left
  {
    background-size: 100% auto;
    background-position: -95px bottom;
  }
  .act-div-right > span:nth-child(2), .act-div-right > span:nth-child(3), .act-div-right > span:nth-child(4), .act-div-right > span:nth-child(5), .act-div-right > span:nth-child(6), .act-div-right > span:nth-child(7), .act-div-right > span:nth-child(8)
  {
    text-align: center;
    display: block;
    line-height: 220%;
  }
  .timer > span
  {
    text-align: center;
  }
  #block-3 .act-div-right
  {
    top: 490px;
    font-size: 115%;
    @media (orientation: landscape) {
      top: 475px;
    }
  }
  #block-3 .act-div-left img
  {
    left: 0;
    right: 0;
    max-width: 55%;
    margin: auto;
  }
  .act-div-right > span:nth-child(1)
  {
    display: block;
    min-height: auto;
    text-align: center;
  }
  #block-3 .old-price
  {
    font-size: 226.5%;
  }

  #block-4
  {
    margin-bottom: 195px;
  }

  #block-5 .men-quest
  {
    left: 50%;
    margin-left: -174px;
  }
  #block-5 .buy-text
  {
    width: 100%;
    left: 0;
    top: 42px;
  }

  #block-5 .feedback-form
  {
    width: 48%;
    max-width: none;
    left: 50%;
    top: 95px;
    @media (orientation: landscape) {
      top: 159px;
    }
  }
  #block-6, #block-6 h1, .protect-div, #block-7, #block-8, #block-8 .block-8-text>div, #block-9
  {
    width: 100%;
  }
  .protect-div-right h4 {
    font-size: 200%;
    line-height: 175%;
    text-align: center;
    margin-top: 5px;
  }
  #block-6
  {
    height: 1040px;
    h1
    {
      font-size: 300%;
      line-height: 125%;
      margin: 40px auto 15px auto;
    }
    h3
    {
      text-align: center;
    }
    span
    {
      font-size: 188%!important;
      line-height: 125%!important;
    }
  }
  #block-6a .prices
  {
    margin-left: 230px;
    width: auto;
    margin-top: -285px;
    font-size: 150%;
    .old-price
    {
      font-size: 150%;
    }
  }
  .cell .img-wrapper .actions
  {
    right: -10%;
  }
  .select-button
  {
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    height: 38px;
    font-size: 175%;
    line-height: 237%;
    margin-top: -68px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    @media (orientation: landscape)
    {
      margin-top: -70px;
      margin-left: 0;
    }
    span
    {
      margin: auto;
      line-height: 180%;
      font-family: "Roboto Black";
    }
  }
  div#product_main_menu .float-right
  {
    font-size: 125%;
  }
  .protect-div-left
  {
    width: 100%;
    left: 0;
    padding-left: 0;
    background-position: 57% 0;
    img
    {
      margin-left: 40%;
    }
  }
  @media (orientation: landscape) {
    .protect-div-left
    {
      background-position: 100% 0;
    }
  }
  .protect-div-right{
    width: 98%;
    max-width: 98%;
    left: 0;
    top: 484px;
    text-align: left;
  }
  #block-6a
  {
    width: 100%;
    margin: 0 auto 50px;
    @media (orientation: landscape) {
      height: 525px;
    }
  }
  #block-8 .block-8-man
  {
    left: 50%;
    margin-left: -121.5px;
  }
  #block-8 .block-8-text
  {
    left: 10px;
    top: 220px;
    font-size: 125%;
    background-color: rgba(255,255,255,.75);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #block-8 .block-8-text > div
  {
    margin-top: 30px;
    font-size: 150%;
    line-height: 125%;
  }
  #block-7
  {
    padding-top: 190px;
  }
  #block-7 .description
  {
    font-size: 175%;
    @media (orientation: landscape) {
      margin-top: 15px;
    }
  }
  #block-7 .show-on-map span
  {
    font-size: 150%;
    line-height: 150%;
  }
  #block-12 .block-12-text
  {
    width: 50%;
    left: 47%;
  }
  #block-12 .block-12-text .let-number
  {
    width: 100%;
  }
  #block-13
  {
    height: 464px;
  }
  #block-14 .recommended-links
  {
    float: left;
    max-width: 45%;
    margin-left: 50px;
  }

  #block-11 .client-comment
  {
    width: 95%!important;
  }

  #block-1 .left>a
  {
    margin-left: 6px;
  }

  #block-1 .left
  {
    max-width: 55%;
  }

  #block-11
  {
    height: auto;
  }

  #myCarousel
  {
    display: none;
  }

  #myCarouselMobile
  {
    display: block;
    .client-comment .client-text
    {
      font-size: 175%;
    }
  }

  #block-3 .prices
  {
    width: 85px;
    float: none;
    margin: auto;
    span.old-price
    {
      width: 180px;
    }
    .act-info
    {
      margin-right: 10px;
    }
  }
  .timer
  {
    margin-right: auto;
    margin-left: auto;
    @media (orientation: landscape) {
      margin-top: -16px;
      margin-bottom: 3px;
    }
  }
  span.prev-button, span.next-button
  {
    top: 35%;
  }
  .client-phone
  {
    width: 100%;
  }

  #block-13 .g-map .g-info
  {
    margin-left: -192.5px;
    margin-top: -144.5px;
    font-size: 150%;
  }

  .cell {
    .descr-door {
      a {
        h2 {
          font-size: 2.1rem;
        }
      }
    }
  }
}

@media (max-width: 800px)
{
  #block-1 {
    min-height: 394px;
  }
  .hdr-text
  {
    top: 6px;
    margin-left: 20%;
  }
  #block-1
  {
    background-size: cover;
  }
  .bactions > div > div
  {
    padding: 0 10px;
  }
  #how_buy h5
  {
    font-size: 225%;
  }
  .special-icon-how-buy-4
  {
    padding: 7px 0;
  }
  .special-icon-how-buy
  {
    padding: 9px 0;
  }
  .special-icon-how-buy-2
  {
    padding: 10px 0;
  }
  .hdr-line
  {
    left: 35%;
    top: 0;
  }
  .container.part-size
  {
    font-size: 125%;
  }
  .top-head .callback
  {
    padding-right: 2%;
  }
  #block-3{
    height: 1195px;
  }
  div.cell-pseudo-table div.row div.cell-container
  {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}

@media (max-width: 760px)
{
  html, body
  {
    font-size: 5pt;
  }
  #block-1 {
    min-height: 374px;
  }

  div.cell-pseudo-table .col-lg-3 .cell, div.cell-pseudo-table .col-sm-4 .cell, div.cell-pseudo-table .col-xs-12 .cell
  {
    width: 99%;
    padding-bottom: 60px;
  }

  #block-5
  {
    nobr
    {
      white-space: normal;
    }
    .buy-text > div:first-child
    {
      width: 270px;
      margin-left: 80px;
    }
  }

  #block-1 .right
  {
    height: 326.32px;
  }

  #block-2 .container div:nth-child(4)
  {
    line-height: 125%;
    margin-top: 12px;
  }

  .top-head > div
  {
    font-size: 125%;
    line-height: 115%;
  }

  #block-1 .choise-door
  {
    padding: 5px;
    font-size: 110%;
  }
  
  @media (orientation: portrait) {
    #block-1 .right
    {
      height: 630px;
    }
  }

  #block-1 .right .four-undrln .hdr-price
  {
    width: 85px;
    height: 85px;
    margin: 1px 0 0 19px;
  }

  .four-undrln
  {
    top: 35px;
  }

  #block-1 .four-undrln .hdr-price span:nth-child(1)
  {
    margin-top: 10px;
    margin-left: 40px;
  }
  #block-1 .four-undrln .hdr-price span:nth-child(2)
  {
    margin-left: 13px;
  }
  #block-1 .four-undrln .hdr-price span:nth-child(3)
  {
    margin-left: 36px;
  }

  .hdr-text
  {
    margin-left: 6px;
    margin-top: 15px;
    position: static;
    display: block;
    font-size: 125%;
  }

  #block-1 .right
  {
    height: 310px;
  }

  #block-2 img
  {
    margin-top: 0;
  }
  .font-72
  {
    font-size: 350%;
  }
  .font-50
  {
    font-size: 275%;
  }
  .font-40
  {
    font-size: 150%;
  }
  #block-10 h4
  {
    font-size: 200%;
  }
  #block-12 .block-12-text
  {
    background-color: rgba(255,255,255,.75);
    padding: 15px;
    width: 60%;
    left: 40%;
    max-height: 290px;
    margin-bottom: 31px;
    font-size: 150%;
    h2
    {
      line-height: 110%;
    }
    .client-phone-2, .send-button-2
    {
      width: 100%;
      margin-left: 0;
    }
    .send-button-2
    {
      font-size: 175%;
    }
  }
  .client-phone
  {
    font-size: 169%;
    line-height: 224%;
  }
  #block-5 .feedback-form div > span.phone
  {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .fbk-phone
  {
    font-size: 375%;
  }
  #block-5 .feedback-form div
  {
    margin-bottom: 0;
  }
  #block-5 .feedback-form div .fbk-text
  {
    font-size: 200%;
    line-height: 110%;
  }
  #block-5 .feedback-form
  {
    top: 135px;
  }
  #block-3 h1
  {
    margin-bottom: 30px;
  }
  #block-1 .left
  {
    width: 55%;
    margin-top: -20px;
  }
  #block-1 .choise-door
  {
    margin-top: 15px;
  }
  .send-button
  {
    font-size: 263%;
    line-height: 225%!important;
    height: 38px!important;
  }
  #block-1 .right .four-undrln .undrln span
  {
    min-width: 0;
    line-height: 150%;
  }
  #block-3{
    height: 890px;
  }
  #block-8
  {
    height: 475px;
  }
  #block-9 .container h2
  {
    font-size: 540%;
    line-height: 125%;
  }
  #block-14 {
    .recommended-links {
      max-width: 20%;
    }
    .ftr-bye-door-btn
    {
      font-size: 145%;
      vertical-align: middle;
      padding-top: 1px;
    }
    .ftr-contact-phones, .ftr-addr
    {
      font-size: 130%;
      line-height: 125%;
      width: 90%;
      float: right;
    }
    .recommended-links
    {
      font-size: 244%;
      line-height: 125%;
      &>div
      {
        font-size: 100%;
        margin-top: 135px;
        margin-bottom: 5px;
      }
    }
    .bye-and-contacts
    {
      font-size: 187.5%;
    }
    .ftr-logo, .copyright, .vk-btn-link
    {
      margin-left: 5px;
    }
    .copyright
    {
      font-size: 125%;
    }
  }
  #block-11 .client-comment {
    .client-photo {
      width: 60px;
      height: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .client-text
    {
      margin-left: -20px;
      margin-top: -20px;
      padding: 36px 24px 36px 30px;
      .qts:before
      {
        left: 0;
        top: 3%;
      }
    }
  }
  #block-10 {
    height: 585px;
    .container
    {
      padding-top: 50px;
    }
    .orders > div {
      margin-top: 70px;
      width: 47%;
      span
      {
        font-size: 250%;
      }
    }
    h1
    {
      font-size: 400%;
    }
  }

  #block-8 .block-8-text
  {
    padding-right: 1px;
  }

  #block-8 .block-8-text span:nth-child(1)
  {
    font-size: 225%;
    line-height: 100%;
  }
  .protect-div-left img
  {
    margin-left: -110px;
    left: 50%;
    max-width: 70%;
  }
  #block-6 h3
  {
    margin: 24px auto 30px auto;
  }
}

@media (max-width: 740px)
{
  #block-14 {
    .bye-and-contacts
    {
      margin-top: -275px;
    }
    .recommended-links
    {
      float: none;
      margin-left: 10px;
      margin-top: 125px;
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 640px)
{
  #block-1 {
    min-height: 315px;
  }

  #block-1 .right
  {
    height: 230px;
  }
  #block-3{
    height: 890px;
  }
  .four-undrln
  {
    top: 13px;
  }
  .undrln
  {
    margin-bottom: 9px;
  }
  .call-me
  {
    padding: 13px;
  }
}

@media (max-width: 480px)
{
  #block-1 {
    min-height: 315px;
  }

  #block-1 .right
  {
    height: 290px;
  }
  #block-3{
    height: 885px;
  }
  div[id^="product-"]
  {

  }
}

@media (max-width: 400px)
{
  #block-1 {
    min-height: 315px;
  }

  #block-1 .right
  {
    height: 280px;
  }
  #block-3{
    height: 885px;
  }
  .protect-div-left {
    background-position: 57% 0;
  }
  #block-3 .act-div-left img
  {
    left: 0;
    right: 0;
    max-width: 55%;
    margin: auto;
    top: auto;
    bottom: 0;
  }
}

@media (max-width: 360px)
{
  #block-1 {
    min-height: 177px;
  }

  #block-1 .right
  {
    height: 290px;
  }
  #block-3{
    height: 915px;
  }
}
@media (min-width: 300px) {
  #block-11 .carousel-inner {
    margin: 0 !important;
    width: 100%;
  }
  #block-11 .carousel-control.left span.prev-button, #block-11 .carousel-control.right span.next-button
  {
    top: 35%
  }
}
@media (min-width: 800px) {
  #block-11 .carousel-inner {
    margin: 0 110px !important;
    width: 80%;
  }
  #block-11 .carousel-control.left span.prev-button, #block-11 .carousel-control.right span.next-button
  {
    top: 45%
  }
}

@media (min-width: 766px) and (orientation: portrait) {
  .mobile {
    .top-head .callback {
      width: 140px;
      float: right;
      padding-left: 0;
      text-align: center;
    }

    form#filters .col-lg-6, form#filters .col-sm-6, form#filters col-md-6, form#filters col-xs-6 {
      min-height: 135px;
    }
    form#filters .price-filter {
      font-size: 115%;
    }
    @media (max-width: 1020px) {
      #block-13 .g-map .g-info {
        margin-left: -286.5px;
        margin-top: -232.5px;
      }
    }

    #block-7 .show-on-map {
      width: 400px;
    }

    .top-head .cntr, .top-head .callback {
      margin-right: 5px;
    }
    .top-head .cntr {
      text-align: right;
      float: none;
    }
    .top-head .cntr, .top-head > div:nth-child(2) {
      margin-top: 2.5%;
    }
    .top-head > div:nth-child(2) {
      display: none;
    }
    .top-head > div:nth-child(5) {
      font-family: Roboto Medium;
    }
    .cell .descr-door {
      width: 100%;
    }
    #block-1 .right {
      margin-top: 127px;
    }
    #block-1 .four-undrln .hdr-price span:nth-child(2) {
      margin-left: 40px;
      margin-top: 21px;
    }
    #block-1 .four-undrln .hdr-price span:nth-child(1) {
      margin-left: 86px;
      margin-top: 35px;
    }
    #block-1 .four-undrln .hdr-price span:nth-child(3) {
      margin-left: 85px;
    }
    #block-1 .right .four-undrln .hdr-price {
      margin-top: 17.5%;
      margin-left: 17.5%;
    }
    .hdr-text {
      margin-top: 5%;
      @media (max-width: 1020px)
      {
        display: none;
      }
    }
    #block-14 .footer-about
    {
      padding-left: 5px;
    }
    #block-1 .choise-door {
      margin-top: 5%;
    }
    #block-2 .nav > li a {
      line-height: 335%;
    }
    #block-2 .container div > a[href^="tel:"] {
      line-height: 125%;
    }
    #block-2 .container div {
      margin-bottom: 5px;
    }
    #block-2 .container div:nth-child(4) {
      display: none;
    }
    #block-3 .prices {
      width: 182px;
      text-align: center;
      span.old-price {
        background-size: 100% 100%;
        height: 40px;
        font-size: 250%;
        width: 180px;
      }
    }
    div:not([id^="product-"]) #block-3 {
      @media (max-width: 1023px) {
        height: 1225px;
      }
      .act-info {
        height: auto;
        @media (max-width: 1020px) {
          width: 310px;
        }
        @media (min-width: 1020px) {
          width: 205px;
        }
        margin: 15px auto;
      }
    }
    @media (min-width: 1020px) {
      #block-3 .act-info span {
        padding: 20px 34px;
      }
    }
    @media (max-width: 1020px) {
      .small-act-imgs {
        margin-left: 0;
        text-align: center;
        img {
          float: none;
        }
      }
    }
    form#filters .col-lg-6.price-filter, form#filters .col-sm-6.price-filter, form#filters col-md-6.price-filter, form#filters col-xs-6.price-filter {
      padding: 22px;
    }
    .cell .small-door {
      right: 25px;
    }
    .cell .img-wrapper .actions {
      @media (max-width: 1020px) {
        width: 100px;
      }
      height: auto;
    }
    .cell {
      height: 495px;
    }
    .other-models-greeting {
      width: 225px;
    }
    #block-5 .feedback-form {
      top: 47px;
    }
    @media (max-width: 1020px) {
      .protect-div-left img {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      .protect-div-left {
        background-position-x: 200%
      }
      #block-6 {
        height: 1605px;
      }
    }
    @media (min-width: 1020px) {
      #block-6 {
        height: 820px;
      }
      #block-8 .block-8-text
      {
        top: 105px;
      }
      #block-12 .send-button-2
      {
        width: 47%;
      }
    }
    @media (max-width: 1020px) {
      .select-button {
        height: auto;
        margin-top: -208px;
        margin-left: 253px;
      }
      #block-6a .prices {
        margin-left: 395px;
        margin-top: -400px;
      }
      #block-6a .old-price {
        width: 150px;
        height: 33px;
        background-size: 93% 100%;
      }
    }
    #block-8 .block-8-text > div {
      font-size: 125%;
    }
    #block-12 .client-phone-2 {
      padding-top: 0;
    }
    @media (max-width: 1020px) {
      #block-6a .small-prot-imgs {
        margin-right: 117px;
        text-align: center;
        img {
          float: none;
        }
      }
    }
    #block-12 .block-12-text h2 {
      line-height: 115%;
    }
    & > div[id^="product-"] {
      @media (max-width: 1020px) {
        #block-3 {
          height: 1110px;
          .act-info {
            height: auto;
            margin-left: 12%;
            span {
              line-height: 158%;
            }
          }
        }
      }
      #block-3a {
        height: 295px;
      }
      @media (max-width: 1020px) {
        #block-3 .act-div-right br {
          display: none;
        }
      }
      .act-div-right > span:nth-child(3), .act-div-right > span:nth-child(5) {
        line-height: 130%;
      }
      .menu-product {
        text-align: center;
      }
      @media (max-width: 1020px) {
        #block-13 .g-map .g-info {
          margin-left: -282.5px !important;
          margin-top: -210.5px;
          padding: 26.5px 62.5px;
        }
      }
    }
    @media (max-width: 1020px) {
      #block-6 .protect-div-right {
        text-align: center;
        top: 590px;
      }
      #block-6 {
        span.prev-button, span.next-button {
          top: 27%
        }
      }
      #block-6a {
        .prices {
          margin-top: 50px;
          margin-left: 29%;
        }
        .small-prot-imgs {
          padding-top: 0;
          margin-top: -845px;
        }
        .select-button {
          margin-top: 685px;
        }
      }
    }
    @media (min-width: 1000px) {
      #block-6 h1 {
        line-height: 100%;
      }
    }
  }
}

@media (min-width: 766px) and (orientation: landscape) {
  .mobile {
    form#filters .col-lg-6, form#filters .col-sm-6, form#filters col-md-6, form#filters col-xs-6
    {
      min-height: 135px;
    }
    .top-head > div:nth-child(2)
    {
      display: none;
    }
    #block-2 .container div:nth-child(4)
    {
      display: none;
    }
    #block-12 .block-12-text h2
    {
      line-height: 125%;
    }
    @media (max-width: 1025px) {
      #block-12 .send-button-2 {
        width: 47%;
      }
      #block-14 .footer-about
      {
        padding-left: 5px;
      }
    }
    #block-3a .container.part-size > div:nth-child(2)
    {
      padding-left: 25px;
    }
    form#filters .price-filter
    {
      font-size: 115%;
    }
  }
}

@media (min-width: 1250px) {
  .small-act-imgs
  {
    margin-left: 0;
    text-align: center;
    img
    {
      float: none;
    }
  }
  .cell .small-door
  {
    right: 6px;
  }
  .cell .descr-door
  {
    left: 15px;
  }
}

@media (max-width: 765px) {
  .mobile {

    /* fix cahce */
    .top-head > div:nth-child(2), .top-head .cntr, .top-head .callback, .top-head > div:nth-child(5), .hdr-text, .hdr-line, #block-1 .four-undrln, #block-2
    {
      display: none;
    }
    .top-head .mobile-panel-header
    {
      display: block;
    }
    /* /fix cache */

    #block-3 .act-div-left
    {
      background-size: auto;
      background-position: 57% 0;
    }
    #block-5 .buy-text
    {
      height: 300px;
      width: auto;
      right: 60px;
      background-color: rgba(255, 255, 255, 0.45);
      color: black;
      padding: 15px 0px;
    }
    #block-7 .show-on-map {
      width: 300px;
      padding: 5px 0;
      @media (orientation: landscape) {
        margin-top: 10px;
      }
      span {
        font-size: 225%;
      }
    }
    #block-1 .four-mn>span:nth-child(1), #block-1 .four-mn>span:nth-child(3)>b>span
    {
      color: $first_block_first_two_lines_color_mobile;
    }
    #block-1 .four-mn>span:nth-child(3)
    {
      line-height: 95%;
      max-width: 99%;
    }
    #block-1 .four-mn>span:nth-child(4)
    {
      max-width: 99%;
    }
    div.cell-pseudo-table div.row.good div.w-100p
    {
      font-size: 225%;
    }
    span.mobile-background
    {
      line-height: 60%;
      padding: 0 5px 10px;
      background-color: $first_block_text_background_color;
      margin-left: 0;
    }
    #block-5 {
      @media (orientation: landscape) {
        height: 500px;
      }
      .buy-text {
        max-width: 90%;
        @media (orientation: landscape) {
          height: 412px;
        }
      }
    }
    #block-1 .four-mn > span:first-child, #block-1 .four-mn > span:last-child
    {
      line-height: 160%;
      padding: 0 5px;
      background-color: $first_block_text_background_color;
    }
    #block-13 .g-map .g-info {
      padding: 48.5px 60.5px;
      max-width: 102%;
      @media (orientation: landscape) {
        padding: 24.5px 30.5px;
        .info {
          margin-bottom: 10px;
          font-size: 100%;
        }
      }
    }
    #block-13 .g-map .g-info .phones {
      font-size: 150%;
    }
    #block-6 .protect-div-right {
      text-align: center;
      top: 590px;
    }
    #block-6a {
      .prices {
        top: 340px;
        margin-left: 39%;
        position: absolute;
      }
      .small-prot-imgs {
        padding-top: 0;
        top: -383px;
        position: absolute;
        margin-left: -14%;
        left: 50%;
      }
      .select-button {
        margin-top: 111px;
        @media (orientation: landscape) {
          margin-top: 485px;
          height: auto;
        }
      }
    }
    #block-5 .buy-text > div:first-child {
      margin-left: auto;
      max-width: 90%;
      margin-right: 24px;
      @media (orientation: landscape) {
        margin-left: auto;
        margin-right: 12%;
        font-size: 155%;
      }
    }
    #block-5 .buy-text > div:last-child {
      width: 93%;
      font-weight: bold;
      @media (orientation: landscape) {
        width: 88%;
      }
    }
    .cell .img-wrapper .actions {
      text-align: center;
      line-height: 125%;
      @media (orientation: landscape) {
        right: 0;
      }
    }
    #block-5 .feedback-form {
      left: 110px;
      text-align: right;
      color: black;
      font-weight: bold;
      @media (orientation: landscape) {
        left: auto;
        right: 20%;
      }
    }
    #block-5 .container .ruller-img {
      background-image: url("/wp-content/themes/dverilending/img/ruller.png");
      width: 50px;
      height: 500px;
      position: absolute;
      right: 5px;
      top: -175px;
      background-size: 100% 100%;
    }
    .modal-header .close, #buyWindow button.close {
      font-size: 500%;
    }
    .modal-dialog, .modal-content, .modal-body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
    #callWindow input {
      font-size: 150%;
      width: 100%;
      padding: 10px 5px;
    }
    #callWindow h5 {
      font-size: 250%;
      line-height: 125%;
    }
    #callWindow button.need-call-submit {
      margin-top: 10px;
    }
    #buyWindow .modal-dialog {
      width: 100%;
    }
    #buyWindow .modal-body > div {
      &.w-37p {
        width: 35% !important;
      }
      &.w-56p {
        width: 55% !important;
      }
    }
    #block-13 .g-map .show-on-map span {
      font-size: 175%;
      line-height: 125%;
      @media (orientation: landscape) {
        font-size: 65%;
      }
    }
    .back-to-catalog > a {
      font-size: 250%;
      font-family: Roboto Bold;
      font-weight: bold;
    }
    #product_main_menu .pceudotitle {
      font-size: 240%;
      line-height: 1;
    }
    div[id^="product-"] .small-act-imgs {
      bottom: 37% !important;
      border-bottom: none;
    }
    div[id^="product-"] #block-3 .act-div-right {
      top: 600px;
      padding-bottom: 25px;
    }
    div[id^="product-"] #block-3 {
      .act-coll-me {
        padding: 4px;
      }
      .act-info {
        width: 155px;
      }
    }
    #block-3 {
      height: 825px;
    }
    div[id^="product-"] #block-3a {
      height: 200px;
      padding-top: 25px;
    }
    div[id^="product-"] #block-3 {
      height: 945px;
      .container {
        border-bottom: 1px solid #e3e3e3;
      }
    }
    #block-3 .act-info span {
      line-height: 200%;
    }
    form#filters div.price-filter span.font-24 {
      font-size: 300%;
    }
    div[id^="product-"] {
      .prices > span {
        font-size: 275%;
      }
      .act-buttons {
        text-align: center;
        .act-info {
          float: none !important;
          display: inline-block !important;
        }
        .act-coll-me {
          margin-top: -15px !important;
        }
      }
      .act-div-right > span:nth-child(1), .act-div-right > span:nth-child(3), .act-div-right > span:nth-child(5) {
        font-size: 250%;
        line-height: 135%;
      }
      .call-me {
        font-size: 150%;
        padding: 8px;
      }
      .act-info span {
        line-height: 220%;
      }
      .menu-product {
        font-size: 150%;
        text-align: center;
      }
      #block-3 .prices {
        text-align: center;
        span.old-price {
          background-size: 100% 100%;
        }
      }
    }

    div[id^="product-"] .back-to-catalog > a {
      font-size: 225%;
    }

    .timer > span {
      font-size: 144.13%;
      @media (orientation: landscape) {
        margin: 2px 0 2px 16px;
      }
    }
    #block-3 .prices {
      font-size: 150%;
      width: 140px;
    }
    #block-3a {
      height: 100px;
    }
    #block-1 .right {
      width: 268px;
      height: 525px;
      margin-top: 5px;
      margin-right: -145px;
    }
    #block-1 .left {
      position: absolute;
      top: 131px;
      width: 100%;
      max-width: 100%;
      line-height: 275%;
      font-size: 200%;
      height: 470px;
      @media (orientation: landscape) {
        top: 73px;
      }
    }
    #block-1 .left > a {
      margin-left: 7%;
    }
    #block-1 .choise-door {
      padding: 5px 30px;
      margin-top: 75px;
      & > span {
        font-size: 125%;
      }
      @media (orientation: landscape) {
        margin-top: 0;
      }
    }
    #block-1 {
      overflow-x: hidden;
      min-height: 620px;
      background-position-x: 100%;
      .top-head {
        margin: 0 -8px 10px -10px;
        padding-left: 7px;
        padding-right: 10px;
        padding-bottom: 5px;
        background-color: white;
        &:before
        {
          margin: 0 -7px;
          box-sizing: content-box;
          padding-left: 7px;
          padding-right: 10px;
          content: " ";
          display: block;
          width: 100%;
          height: 10px;
          background-image: url(/wp-content/themes/dverilending/img/slide.jpg);
          background-size: auto 620px;
          background-position-x: 100%;
          background-position-y: 0;
        }
      }
    }
    .phone-menu-container, .mobile-menu-container {
      display: inline-block;
      height: 100%;
      img {
        max-height: 100%;
      }
    }
    .mobile-menu-container img
    {
      height: 32px;
      vertical-align: super;
    }
    .mobile-menu-container {
      margin-left: 10px;
      margin-right: 10px;
    }
    #phone_modal {
      button.btn {
        margin-top: 15px;
        margin-bottom: 5px;
      }
      .modal-dialog {
        margin-right: 0;
        margin-left: 0;
        height: auto;
      }
      .modal-content, .modal-body {
        height: auto;
      }
      ul li {
        font-size: 250%;
        line-height: 200%;
        border-bottom: 1px solid #d9d9d9;
        &:last-child {
          border-bottom: none;
        }
      }
    }
    div[id^="product-"] #how_buy {
      font-size: 125%;
      .bactions div.icon img {
        width: 68%;
      }
    }
    #mobile_menu_modal {
      margin-top: 0;
      .modal-dialog, .modal-content, .modal-body {
        margin: 0;
        width: 100%;
        height: 100%;
      }
      .modal-content {
        position: relative;
        ul li {
          font-size: 300%;
          @media (orientation: landscape) {
            font-size: 150%;
          }
          line-height: 200%;
          border-bottom: 1px solid #d9d9d9;
          &:last-child {
            border-bottom: none;
          }
        }
        .callback {
          display: block;
          margin: 0 auto;
          width: 195px;
          padding-top: 8.5px;
          padding-bottom: 8.5px;
        }
        button.dismiss-modal {
          position: absolute;
          bottom: 50px;
          left: 50%;
          margin-left: -45px;
          @media (orientation: landscape) {
            bottom: 30px;
            margin-left: -40px;
          }
        }
      }
    }
    .top-head #mobile_menu_modal span
    {
      font-size: 250%;
    }
    .top-head > div.mobile-panel-header {
      margin-top: 7px;
      height: 36px;
    }
    @media (orientation: landscape) {
      #block-6 .protect-div-right {
        top: 625px;
      }
      #block-6a .select-button {
        margin-left: 33%;
        top: auto;
        bottom: 20px;
      }
      #block-6a .prices {
        margin-left: 42%;
        top: auto;
        bottom: 55px;
      }
      #block-6a .small-prot-imgs {
        margin-left: -7%;
      }
      #block-3 .act-div-left
      {
        background-position: 100% 0;
      }
    }
    #block-5 .men-quest
    {
      max-width: 100%;
      @media (orientation: landscape) {
        height: 709px;
        width: 408px;
        background: url(/wp-content/themes/dverilending/img/man-quest.png);
        background-size: 100%;
      }
    }
    @media (max-width: 550px) and (orientation: portrait) {
      #block-5 .feedback-form
      {
        left: auto;
        width: 60%;
        right: 83px;
      }
      #block-10 .orders > div
      {
        width: 46%;
        margin-top: 45px;
      }
      #block-12 .block-12-text
      {
        max-height: 305px;
      }
      #block-13 .g-map .g-info
      {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        width: 100%;
        .show-on-map
        {
          width: 210px;
        }
      }
      #block-14 .ftr-bye-door-btn
      {
        width: 145px;
        line-height: 175%;
      }
      .act-coll-me
      {
        margin-left: 10px;
      }
      div[id^="product-"] #block-3 .act-info
      {
        width: 150px;
        height: 33px;
      }
      div[id^="product-"] .call-me
      {
        padding: 5px;
      }
      .p-actions .action
      {
        vertical-align: middle;
      }
      div[id^="product-"] #block-3a .container.part-size > div
      {
        margin-right: 5px;
      }
    }
    @media (min-width: 550px) and (orientation: portrait) {
      #block-13 .g-map .g-info {
        left: 50%;
        margin-left: -163.5px;
      }
    }
    @media (max-width: 350px) {
      #block-5 .feedback-form
      {
        @media (orientation: portrait) {
          right: 77px;
        }
        @media (orientation: landscape)
        {
          right: 21%;
        }
      }
    }
  }
}

@media (min-width: 766px) {
  #product_main_menu
  {
    margin-bottom: 45px;
  }
}